<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <link rel="icon" href="{{{favicon}}}">
    <link type="text/css" rel="stylesheet" href="{{{baseUrl}}}/public/lib/font-awesome/5.13.0/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="{{{baseUrl}}}/public/lib/jquery/ui/1.12.1/themes/jquery-ui.structure.min.css">
    <link type="text/css" rel="stylesheet" href="{{{baseUrl}}}/public/lib/jquery/ui/1.12.1/themes/{{themeName}}/jquery-ui.theme.min.css" id="theme" themename="{{themeName}}">
    <link type="text/css" rel="stylesheet" href="{{{baseUrl}}}/public/pages/{{language}}/home.css">
    <script>
    var loginPageURL = '{{{baseUrl}}}/login';
    var logoutURL = '{{{baseUrl}}}/logout';
    var pageConf = {{{conf_front}}};
    var userInfo = {{{userInfo}}};
    </script>
</head>
<body theme="{{themeName}}" lang="{{language}}"></body>
<!-- script -->
<script type="text/javascript" src="{{{baseUrl}}}/public/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{{baseUrl}}}/public/lib/jquery/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{{baseUrl}}}/public/lib/jquery/jquery.cookie.js"></script>
<script type="text/javascript" src="{{{baseUrl}}}/public/pages/{{language}}/home.js"></script>
</html>